<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maulidevelopers.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartView"
            android:label="@string/title_activity_start_view" >
        </activity>
        <activity
            android:name=".ProjectDetailView"
            android:label="@string/title_activity_project_detail_view" >
        </activity>
        <activity
            android:name=".ProjectDetails"
            android:label="@string/title_activity_project_details" >
        </activity>
        <activity
            android:name=".All_Flats"
            android:label="@string/title_activity_all__flats" >
        </activity>
        <activity
            android:name=".SingleFlatView"
            android:label="@string/title_activity_single_flat_view" >
        </activity>
        <activity
            android:name=".Grid"
            android:label="@string/title_activity_grid" >
        </activity>
        <activity
            android:name=".ProjectView"
            android:label="@string/title_activity_project_view" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
